
    <div class="container_body">
        <div class="box_body">
            <div class="logo">
                <img src="/img/logotipo.png" alt="">
            </div>
            <div class="terms">
                
                <p>Somos una Tienda Online.</p>
                <p>Creada pensando en tí, elaboramos con amor y detallamos paso a paso el proceso de diseño de cada producto.</p>

                    
            </div>

        </div>
        <div class="box_body">
            <h2>Soluciones</h2>
            <a href="#">App Desarrollo</a>
            <a href="#">App Marketing</a>
            <a href="#">IOS Desarrolo</a>
            <a href="#">Android Desarrolla</a>
        </div>
        <div class="box_body">
            <h2>Compañia</h2>
            <a href="#">Acerca de</a>
            <a href="#">Trabajos</a>
            <a href="#">Procesos</a>
            <a href="#">Servicios</a>

        </div>
        <div class="box_body">
            <h2>Redes Sociales</h2>
            <a href="#"><i class="fab fa-facebook-square"></i> Facebook</a>
            <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
            <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
            <a href="#"><i class="fab fa-instagram-square"></i>Instagram</a>
            

        </div>

    </div>
    <div class="box_copyright">
    <hr>
    <p>Todos los derechos reservados © 2022
    <b>Lazos de Amor</b></p>
</div>

</body>