<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Protecto coffe</title>
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
</head>

<body>

    <header id="header" class="header">
        <div class="container">
            <div class="row">

                <div class="four columns">
                    <img src="/img/cafe-removebg-preview.png" alt="" id="logo">
                </div>

                <div class="two columns u-pull-right">
                    <ul>
                        <li class="submenu">
                            <img src="/img/shopping_cart.png" alt="" id="img-carrito">
                            <div id="carrito">
                                <table id="lista-carrito" class="u-full-width">
                                    <thead>
                                        <tr>
                                            <th>Imagen</th>
                                            <th>Nombre</th>
                                            <th>Precio</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <a href="#" id="vaciar-carrito" class="button ">Vaciar Carrito</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="four columns">
                        <ul class="navct">
                            <li class="four columns"><a href="#">Inicio</a></li>
                            <li class="four columns"><a href="#">Sobre</a></li>
                            <li class="four columns"><a href="#">Contacto</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </header>

    <div id="hero">
        <div class="container">
            <div class="row">
                <div class="six columns">
                    <div class="contenido-hero">
                        <h2>Pide tu cafe Favorito</h2>
                        <p>Todos los cafes a $ 0.000</p>
                        <form action="#" id="busqueda" method="post" class="formulario">
                            <input class="u-full-width" type="text" placeholder="Que te gustaria comprar?"
                                id="buscador">
                            <img class="submit-buscador" src="/img/busqueda-de-lupa.png" alt="">
                            <input type="submit" id="submit-buscador" class="submit-buscador">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <!-- informacion de los productos -->
                <div class="barra">
                    <div class="container">
                        <div class="row">
                            <div class="four columns  icono icono1">
                                <p>200 Marca de cafes<br>
                                    Explora los sabores más recientes
                                </p>
                            </div>
                            <div class="four columns icono icono2">
                                <p>Expertos en la Elaboración<br>
                                    Explora los distintos sabores
                                </p>
                            </div>
                            <div class="four columns icono icono3">
                                <p>Grano de calidad<br>
                                    100% Natural
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                < <div id="lista-cafe" class="container">
                    <h1 id="encabezado" class="encabezado">Pedidos en Línea</h1>

                    <div class="row">
                        <div class="four columns">
                            <div class="card">
                                <img src="/img/images.jpg" class="u-full-width">
                                <div class="info-card">
                                    <h4>Cafe negro</h4>
                                    <p>Marca nesca</p>
                                    <!-- <img src="/img/estrellas.png"> -->
                                    <p class="precio">00000<span class="u-pull-rigth"></span></p>
                                    <a href="#" class="u-full-width button-primary button input agregar-carrito">Agregar
                                        al Carrito</a>
                                </div>
                            </div>
                        </div>
                        <div class="four columns">
                            <div class="card">
                                <img src="/img/images.jpg" class="u-full-width">
                                <div class="info-card">
                                    <h4>Cafe negro</h4>
                                    <p>Marca nesca</p>
                                    <p class="precio">00000<span class="u-pull-rigth"></span></p>
                                    <a href="#" class="u-full-width button-primary button input agregar-carrito">Agregar
                                        al Carrito</a>
                                </div>
                            </div>
                        </div>
                        <div class="four columns">
                            <div class="card">
                                <img src="/img/images.jpg" class="u-full-width">
                                <div class="info-card">
                                    <h4>Cafe negro</h4>
                                    <p>Marca nesca</p>
                                    <p class="precio">00000<span class="u-pull-rigth"></span></p>
                                    <a href="#" class="u-full-width button-primary button input agregar-carrito">Agregar
                                        al Carrito</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="four columns">
                                <div class="card">
                                    <img src="/img/images.jpg" class="u-full-width">
                                    <div class="info-card">
                                        <h4>Cafe negro</h4>
                                        <p>Marca nesca</p>
                                        <p class="precio">00000<span class="u-pull-rigth"></span></p>
                                        <a href="#"
                                            class="u-full-width button-primary button input agregar-carrito">Agregar
                                            al Carrito</a>
                                    </div>
                                </div>
                            </div>
                            <div class="four columns">
                                <div class="card">
                                    <img src="/img/images.jpg" class="u-full-width">
                                    <div class="info-card">
                                        <h4>Cafe negro</h4>
                                        <p>Marca nesca</p>
                                        <p class="precio">00000<span class="u-pull-rigth"></span></p>
                                        <a href="#"
                                            class="u-full-width button-primary button input agregar-carrito">Agregar
                                            al Carrito</a>
                                    </div>
                                </div>
                            </div>
                            <div class="four columns">
                                <div class="card">
                                    <img src="/img/images.jpg" class="u-full-width">
                                    <div class="info-card">
                                        <h4>Cafe negro</h4>
                                        <p>Marca nesca</p>
                                        <p class="precio">00000<span class="u-pull-rigth"></span></p>
                                        <a href="#"
                                            class="u-full-width button-primary button input agregar-carrito">Agregar
                                            al Carrito</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="four columns">
                                    <div class="card">
                                        <img src="/img/images.jpg" class="u-full-width">
                                        <div class="info-card">
                                            <h4>Cafe negro</h4>
                                            <p>Marca nesca</p>
                                            <p class="precio">00000<span class="u-pull-rigth"></span></p>
                                            <a href="#"
                                                class="u-full-width button-primary button input agregar-carrito">Agregar
                                                al Carrito</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="four columns">
                                    <div class="card">
                                        <img src="/img/images.jpg" class="u-full-width">
                                        <div class="info-card">
                                            <h4>Cafe negro</h4>
                                            <p>Marca nesca</p>
                                            <p class="precio">00000<span class="u-pull-rigth"></span></p>
                                            <a href="#"
                                                class="u-full-width button-primary button input agregar-carrito">Agregar
                                                al Carrito</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="four columns">
                                    <div class="card">
                                        <img src="/img/images.jpg" class="u-full-width">
                                        <div class="info-card">
                                            <h4>Cafe negro</h4>
                                            <p>Marca nesca</p>
                                            <p class="precio">00000<span class="u-pull-rigth"></span></p>
                                            <a href="#"
                                                class="u-full-width button-primary button input agregar-carrito">Agregar
                                                al Carrito</a>
                                        </div>
                                    </div>
                                </div>


                                <script src="/js/carritoDeCompras.js"></script>
</body>

</html>